// @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=5059ef9c-1f37-49f0-8d3f-6543bc94afe2");
@font-face{
	font-family:"Andale Mono";
	font-weight:normal;
	font-style:normal;
	src:url($fontsDir + "35883149-09b4-424d-8017-b169337d5cac.eot?#iefix");
	src:url($fontsDir + "35883149-09b4-424d-8017-b169337d5cac.eot?#iefix") format("eot"),url($fontsDir + "baecdc6e-fed3-4e54-b85b-27da18cede16.woff2") format("woff2"),url($fontsDir + "b97837db-df23-42b4-834d-5c15d504e31c.woff") format("woff"),url($fontsDir + "080f5dd4-d948-4f9f-bac3-eccafbbfda0e.ttf") format("truetype");
}
@font-face{
	font-family:"Andale Mono";
	font-weight:bold;
	font-style:normal;
	src:url($fontsDir + "ce962872-d6a4-439b-b368-2850567b4304.eot?#iefix");
	src:url($fontsDir + "ce962872-d6a4-439b-b368-2850567b4304.eot?#iefix") format("eot"),url($fontsDir + "d351bf85-ec63-45ea-acd5-83fa3c2d184e.woff2") format("woff2"),url($fontsDir + "517f003c-97cd-4771-8488-4aee9f1fa8d1.woff") format("woff"),url($fontsDir + "78c7142e-cfe8-45b3-adf1-75c33960476f.ttf") format("truetype");
}
@font-face{
	font-family:"Helvetica Neue";
	font-weight:normal;
	font-style:normal;
	src:url($fontsDir + "522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix");
	src:url($fontsDir + "522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix") format("eot"),url($fontsDir + "08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),url($fontsDir + "08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff"),url($fontsDir + "8f4a1705-214a-4dd0-80b8-72252c37e688.ttf") format("truetype");
}
